.content{
    height:400px;
    border:1px solid #eee;
    overflow-y: scroll;
}

.panel_grape>.panel-heading{
    background-color: #6f5499;
    border: 1px solid #6f5499;
}

#editor2{
    border:1px solid #eee;
    height:150px;
}

.w-e-toolbar{
    border:1px solid #eee;
    border-top: none;
    border-bottom: none;
}

.avatar{
    width:50px;
    height:50px;
}

.md_user_info>span{
    margin-right: 6px;
    font-size: 12px;
    color:#999;
}

.md_body{
    border:1px solid #eee;
    background-color: #eee;
    padding:10px 14px;
    border-radius: 10px;
}

.md{
    width:700px;
    padding:10px;
}

.md_user_info_right{
    margin-right: 6px;
    font-size: 12px;
    text-align: right;
}

.md_user_info_right>span{
    color:#fff;
}

.md_body_right{
    border:1px solid #1e88e5;
    background-color: #1e88e5;
    color:#fff;
    padding:10px 14px;
    border-radius: 10px;
}

.md_right{
    width:700px;
    text-align: right;

}

.md_content_right{
    text-align: left;
}

.md_content,.md_content_right{
    margin-top: 2px;
}

.md_content>p,.md_content_right>p{
    max-width: 20px;
}

.right_box{
    float:right;
    margin:10px 0;
}

.form_right{
    text-align: right;
}

.content>.media a{
    border-top:none;
}