{% extends 'front/front_sign_base.html' %}

{% block title %}
    用户注册
{% endblock %}

{% block head %}
    <script src="{{ static('front/js/front_regist.js') }}"></script>
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_form_group %}
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-phone"></span>
            <input type="text" name="phone" class="form-control" placeholder="手机号">
            <div class="input-group-btn">
                <button class="btn btn-warning" id="send_btn">发送短信</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-envelope"></span>
            <input type="text" name="sms_captcha" class="form-control" placeholder="短信验证码">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="text" name="username" class="form-control" placeholder="用户名">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
            <input type="password" name="password" class="form-control" placeholder="密码">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-repeat"></span>
            <input type="password" name="password_repeat" class="form-control" placeholder="确认密码">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-home"></span>
            <input type="text" name="company_name" class="form-control" placeholder="企业名称">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-road"></span>
            <input type="text" name="company_address" class="form-control" placeholder="企业地址">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-th"></span>
            <input type="text" name="customs_registration_code" class="form-control" placeholder="海关注册号">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-file"></span>
            <input type="text" name="organization_code" class="form-control" placeholder="组织机构代码">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-tower"></span>
            <input type="text" name="legal_name" class="form-control" placeholder="法人名字">
        </div>
    </div>

{% endblock %}

{% block footer_form_group %}
    <div class="form-group">
        <a href="{{ url_for('front_account.front_login') }}">已有账号？点击登陆</a>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-block" id="regist_btn">注册</button>
    </div>
{% endblock %}