{% extends 'front/front_base.html' %}

{% block title %}
    委托报关协议通用条款
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ static('front/css/front_agree_proxy.css') }}">
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <div class="main">
        <p class="in_title">委托报关协议通用条款</p>
        委托方责任  委托方应及时提供报关报检所须的全部单证，并对单证的真实性、准确性和完整性负责。
        委托方负责在报关企业办结海关手续后，及时、履约支付代理报关费用，支付垫支费用，以及因委托方责任产生的滞报金、滞纳金和海关等执法单位依法处以的各种罚款。
        负责按照海关要求将货物运抵指定场所。
        负责与被委托方报关员一同协助海关进行查验，回答海关的询问，配合相关调查，并承担产生的相关费用。
        在被委托方无法做到报关前提取货样的情况下，承担单货相符的责任。

        被委托方责任
        负责解答委托方有关向海关申报的疑问。
        负责对委托方提供的货物情况和单证的真实性、完整性进行“合理审查”，审查内容包括：（一）证明进出口货物实际情况的资料，包括进出口货物的品名、规格、用途、产地、贸易方式等；（二）有关进出口货物的合同、发票、运输单据、装箱单等商业单据；（三）进出口所需的许可证件及随附单证；（四）海关要求的加工贸易（纸质或电子数据的）及其其他进出口单证。
        因确定货物的品名、归类等原因，经海关批准，可以看货或提取货样。
        在接到委托方交付齐备的随附单证后，负责依据委托方提供的单证，按照《中华人民共和国海关进出口报关单填制规范》认真填制报关单，承担“单单相符”的责任，在海关规定和本委托报关协议中约定的时间内报关，办理海关手续。
        负责及时通知委托方共同协助海关进行查验，并配合海关开展相关调查。
        负责支付因报关企业的责任给委托方造成的直接经济损失，所产生的滞报金、滞纳金和海关等执法单位依法处以的各种罚款。
        负责在本委托书约定的时间内将办结海关手续的有关委托内容的单证、文件交还委托方或其指定的人员（详见《委托报关协议》“其他要求”栏）。

        赔偿原则  被委托方不承担因不可抗力给委托方造成损失的责任。因其他过失造成的损失，由双方自行约定或按国家有关法律法规的规定办理。由此造成的风险，委托方可以投保方式自行规避。

        不承担的责任  签约双方各自不承担因另外一方原因造成的直接经济损失，以及滞报金、滞纳金和相关罚款。

        收费原则  一般货物报关收费原则上按当地《报关行业收费指导价格》规定执行。特殊商品可由双方另行商定。

        法律强制  本《委托报关协议》的任一条款与《海关法》及有关法律、法规不一致时，应以法律、法规为准。但不影响《委托报关协议》其他条款的有效。

        协商解决事项  变更、中止本协议或双方发生争议时，按照《中华人民共和国合同法》有关规定及程序处理。因签约双方以外的原因产生的问题或报关业务需要修改协议条款，应协商订立补充协议。双方可以在法律、行政法规准许的范围内另行签署补充条款，但补充条款不得与本协议的内容相抵触。
    </div>
    <form action="" class="form form_submit">
        <div class="form-group" method="post">
            <a href="{{ url_for('front.front_customs_proxy') }}" class="btn btn-info" id="agree_btn">同意</a>
            <a href="{{ url_for('front.front_index') }}" class="btn btn-default" id="cancel_btn">不同意</a>
        </div>
    </form>
{% endblock %}