{% from 'common/common_macro.html' import static  %}

<meta charset="utf-8"/>
<meta name="keywords" content="html,css,javascript" />
<meta name="description" content="html,css,javascript" />
<meta name="csrf_token" content="{{ csrf_token() }}" />


{#    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">#}
<link rel="stylesheet" href="{{ static('common/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ static('common/sweetalert/sweetalert.css') }}">


<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ static('common/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ static('common/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ static('common/sweetalert/xtalert.js') }}"></script>
<script src="{{ static('common/rhjajax.js') }}"></script>
<script src="{{ static('common/xtparam.js') }}"></script>

<style type="text/css">
    *{
        margin:0; padding:0;
        font-family:"Microsoft YaHei";
    }
    a{text-decoration:none;}
    li{list-style:none;}




</style>



	
	

