body{
    background-color:#eee;
}

.form_min{
    width:400px;
    margin:100px auto;
    padding:20px 40px 40px 40px;
    background-color: #fff;
}

h2{
    text-align: center;
    padding-bottom: 10px;
}

.glyphicon{
    top:0;
}

