.main{
    width:600px;
    height:400px;
    overflow: scroll;
    margin:10px auto;
    padding:30px;
    border: 1px solid #eee;
}

.form_submit{
    padding-top:10px;
    text-align: center;
}

.in_title{
    font-size:16px;
    font-weight: 700;
    text-align: center;
}