{% extends 'customs/customs_base.html' %}

{% block title %}
    用户管理
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block head %}
    <script src="{{ static('manage/js/manage_user_manage.js') }}"></script>
{% endblock %}

{% block main_content %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>手机</th>
                <th>创建时间</th>
                <th>所属公司</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users  %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.create_time }}</td>
                    <td>{{ user.company.company_name }}</td>
                    <td>
                        {% if user.is_active %}
                            <span class="label label-success">可用</span>
                        {% else %}
                            <span class="label label-danger">不可用</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_active %}
                            <button class="btn btn-danger btn-xs black_btn" data_user_id="{{ user.id }}" data_want_active="0">拉黑</button>
                        {% else %}
                            <button class="btn btn-warning btn-xs black_btn" data_user_id="{{ user.id }}" data_want_active="1">取消拉黑</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}