{% extends 'customs/customs_base.html' %}

{% block title %}
    员工信息修改
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block head %}
    <script src="{{ static('manage/js/manage_edit_employee.js') }}"></script>
{% endblock %}

{% block main_content %}
    <form action="" class="form form_middle" method="post">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-user"></span>
                <input type="text" class="form-control" name="username" placeholder="用户名" value="{{ emp.username }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                <input type="email" class="form-control" name="email" placeholder="邮箱" value="{{ emp.email }}" readonly>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">职位</span>
                <div class="form-control checkbox_div">
                    {% for role in roles %}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="roles" value="{{ role.id }}" {% if role in emp.roles %}checked{% endif %}>{{ role.name }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary edit_btn" data_employee_id="{{ emp.id }}">保存修改</button>
            {% if emp.is_active==1 %}
                <button class="btn btn-danger black_btn" data_employee_id="{{ emp.id }}" data_want_active="0">拉黑</button>
            {% else %}
                <button class="btn btn-warning black_btn" data_employee_id="{{ emp.id }}" data_want_active="1">取消拉黑</button>
            {% endif %}
            <a class="btn btn-default" href="{{ url_for('customs.manage_employee_manage') }}">返回</a>
        </div>
    </form>
{% endblock %}